extends ./inc/layout.jade

block title
  title= [title, pagination.num, site.name].join(' | ')

block content
  h1 Posts
  ul.list.post-list
    each post in pagination.files
      li.list-item.post: a(href=post.cleanPath)
        h2= post.title
        h4.date= post.date.toDateString()
        p= post.description
  ul.pagination
    if pagination.previous
      li.prev: a(href=pagination.previous.cleanPath) Prev
    if pagination.next
      li.next: a(href=pagination.next.cleanPath) Next
