<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}} | ksmithut</title>
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="{{cssFile}}">
    <link rel="canonical" href="{{baseUrl}}{{cleanUrl path}}">
  </head>
  <body>
