doctype html
include mixins
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
      title #{title} | #{site.name}
    meta(name='description', content=description)
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu|Rokkitt:400,700')
    link(rel='stylesheet', href=cssFile)
    link(rel='canonical', href=site.base + cleanPath)
    if noindex
      link(name='robots', content='noindex,nofollow')
  body
    //- Header
    header.page-header
      a.logo(href='/'): img(src='/images/logos/ksmithut-logo.svg', alt='ksmithut Logo')
      nav.main-nav
        a.nav-item(href='/') Home
        a.nav-item(href='/posts') Blog
    //- Main block
    main.page-content: block content
    //- Footer
    footer.page-footer
    //- Include scripts
    script(src=jsFile, async)
  